<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header><title>Memory Application</title></header>
    <body>
        <tr th:if="${value == null}">
            <div>No value memorized</div>
        </tr>
        <tr th:if="${value == null}">
            <div th:text="${value}"></div>
        </tr>

        <form action="post" th:action="/memorize" class="from-actions">
            <input type="text" name="value" />
            <input type="submit" value="Memorize" />
        </form>
    </body>
</html>
